<mat-card class="course-card"
          [appCoursePlateBorder]="item.creationDate">
  <div class="course-card__header">
    <div class="course-card__header-wrapper">
      <mat-card-title class="course-card__title">{{item.title | uppercase}}</mat-card-title>
      <i class="course-card__rating fa-solid fa-star"
         [ngClass]="{'course-card__rating_top': item.topRated}"></i>
    </div>
    <div class="course-card__organizer">
      <span><i class="course-card__duration fa-solid fa-clock"></i> {{item.duration | duration}}</span>
      <span><i class="course-card__date fa-solid fa-calendar-days"></i> {{item.creationDate | date}}</span>
    </div>
  </div>

  <mat-card-subtitle class="course-card__main">
    {{item.description}}
  </mat-card-subtitle>
  <mat-card-actions align="end">
    <button mat-button class="btn btn__edit"
            [routerLink]="[item.id]">
      <i class="fa-solid fa-pen"></i> Edit
    </button>
    <button mat-button class="btn btn__delete" (click)="onCourseDelete()">
      <i class="fa-solid fa-trash"></i> Delete
    </button>
  </mat-card-actions>
</mat-card>
